.portfolioItem {
    position: relative;
}


.plus {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #1abc9c;
    opacity: 0;
}


.portfolioItem :hover.plus{
    opacity: 1;
    transition: all 0.5s;
    cursor: pointer;
}